In [60]:
import torch
import pandas as pd 

import json 
from math import sqrt

In [61]:
Z_99_PERCENT = 2.576

def ci(t): 
    return (
        Z_99_PERCENT * 
        (t.std() / sqrt(t.size(0)))
    ).item()

def to_dict(t):
    t = t.float().sort().values
    quartile = t.size(0) // 4
    trunc = t[quartile:-quartile]
    trunc_mean = trunc.mean().item()
    ci_range = ci(trunc)

    return {
        'mean': t.mean().item(),
        'max': t.max().item(),
        'min': t.min().item(),
        'std': t.std().item(),
        'trunc-mean': trunc_mean,
        'CI-low': trunc_mean - ci_range,
        'CI-high': trunc_mean + ci_range
    }

def get_results(s):
    data = torch.load(f'../results/{s}_eval.pt')
    lens = data['lens']; rews = data['rews']

    return {'rewards': to_dict(rews), 'episode lens': to_dict(lens)}

In [62]:
import pandas as pd 
def compare_one(n, dir):
    d_last = get_results(f'{dir}ppo_{n}N_0_last')
    #d_best = get_results(f'ppo_{n}N_0')

    last_r = d_last['rewards']
    last_r['n'] = n
    last_l = d_last['episode lens']
    last_l['n'] = n

    '''
    best_r = d_best['rewards']
    best_r['name'] = 'Best'
    best_l = d_best['episode lens']
    best_l['name'] = 'Best'
    '''
    
    return last_r, last_l

def eval(dir=''):
    rs, ls = zip(*[
        compare_one(n, dir)
        for n in [10,20,40]
    ])
    return pd.DataFrame(rs).transpose()#, pd.DataFrame(ls)

In [63]:
eval(dir='001lr_d/')

                     0           1           2
mean        230.670929  185.510773  157.386642
max         549.098022  574.052246  183.775558
min         153.199768  135.399719  143.425644
std         120.066246   93.204048    5.423238
trunc-mean  176.752945  154.677399  157.144302
CI-low      171.643932  153.200727  156.839932
CI-high     181.861958  156.154070  157.448673
n            10.000000   20.000000   40.000000

In [64]:
eval(dir='01lr_d/')

                     0           1           2
mean        214.262817  175.969437  160.059906
max         549.098022  574.052246  586.527100
min         153.599762  136.249695  142.900650
std         112.317726   79.339569   27.791388
trunc-mean  165.306030  152.944824  157.742477
CI-low      163.120339  151.588959  157.404598
CI-high     167.491721  154.300689  158.080357
n            10.000000   20.000000   40.000000

In [65]:
eval(dir='01lr/')

                     0           1           2
mean        214.803436  180.443314  157.893295
max         549.098022  574.052246  586.527100
min         153.899750  136.649689  142.950653
std         108.412056   91.347595   19.968504
trunc-mean  166.660843  149.418655  156.783905
CI-low      164.084650  148.532064  156.469134
CI-high     169.237036  150.305246  157.098676
n            10.000000   20.000000   40.000000

In [66]:
eval(dir='01lr_d_eye/')

                     0           1           2
mean        244.410660  181.709839  159.780121
max         549.098022  574.052246  586.527100
min         153.399765  136.099701  139.875427
std         126.373375   90.242760   20.119686
trunc-mean  191.518204  149.249069  158.532043
CI-low      183.849674  148.711981  158.162577
CI-high     199.186733  149.786158  158.901510
n            10.000000   20.000000   40.000000

In [68]:
eval(dir='001lr_d_eye/')

                     0           1           2
mean        226.334030  173.879242  157.997528
max         549.098022  574.052246  178.275803
min         153.199768  137.299683  141.950592
std         114.797920   76.389206    5.900830
trunc-mean  178.602936  151.483444  157.752487
CI-low      173.366914  150.362645  157.411970
CI-high     183.838957  152.604243  158.093004
n            10.000000   20.000000   40.000000